table{
    width: 100%;
}

.imagem{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}



.edit {
    margin-right: 15px;
}

.edit > i{
    color: #d9cd26;
}
.delete > i{
    color: #e35e6b;
}
.head{
    margin-left: 15px;
}
