table{
    width: 100%;
}

.imagem{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}



.edit {
    margin-right: 15px;
}

.edit > i{
    color: #d9cd26;
}
.delete > i{
    color: #e35e6b;
}
.material-icons{
    padding-left: 20px;
    padding-top: 10;
    font-size: 30px;
    
}

.botaoBusca {
    float : right;
    font-size: 15px;
    width: 150px;
    margin-top: 10px;
    padding-left: 15px;
  
}

  .textBusca {
    float: right;
    margin-top: 15px;
}