table{
    width: 100%;
}

.imagem{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}


.edit {
    margin-right: 15px;
}

.edit > i{
    color: #d9cd26;
}
.delete > i{
    color: #e35e6b;
    margin-left: 30px;
}

.mat-tab-group {
    margin-bottom: 48px;
  }
search {
    font-size: 20px;
    width: 150px;
    float: right;
}

.material-icons {
    font-size: 20px;
    margin: 15px;
}



.footer .material-icons {

    margin: 15px;
    margin-left: 10px;
        
}



.textBusca {
    float: right;
    margin-top: 15px;
}

.botaoBusca {
    float :right;
    font-size: 15px;
    width: 150px;
    margin-top: 2px;

}


.mat-cell .mat-row:hover {
    cursor: pointer;
    cursor: row-resize;
  }
  .mat-row:hover .mat-cell {
    border-color: black;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
    
  }