<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" fixedInViewport="true" fixedTopGap="64" fixedBottomGap="64"
        [(opened)]="opened">
        <mat-nav-list class="nav-list">

            <a mat-list-item routerLink="/">
                <mat-icon>home</mat-icon>
                Início
            </a>

            <div *ngIf="unlockadm">
                <a mat-list-item routerLink="empresa">
                    <mat-icon>reorder</mat-icon>
                    Empresas
                </a>

                <a mat-list-item routerLink="solucoes">
                    <mat-icon>storefront</mat-icon>
                    Soluções
                </a>

                <!-- <a mat-list-item routerLink="solucoesEmpresa">
                
                    Verificar a necessidade de implementação
                
                    <mat-icon>storefront</mat-icon>
                    Soluções da Empresa
                </a> -->
            </div>

            <div *ngIf="unlockMaster">
                <a mat-list-item routerLink="empresa">
                    <mat-icon>reorder</mat-icon>
                    Empresas
                </a>
            </div>

            
            <a (click)="sairSistema()">
                <mat-icon>play_for_work</mat-icon>
                Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <div *ngIf="!opened">
            <i class="material-icons" (click)="opened=!opened">
                navigate_next
            </i>
        </div>

        <div *ngIf="opened">
            <i class="material-icons" (click)="opened=!opened">
                navigate_before
            </i>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>