<mat-sidenav-container class="container">
    <mat-sidenav  class="sidenav" mode="side" 
            fixedInViewport="true" fixedTopGap="64" fixedBottomGap="64" [(opened)]="opened">
            <mat-nav-list class="nav-list">
            
                <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <!--Menus de cadastro-->    
            <button mat-button [matMenuTriggerFor]="menu" class="menuColor" >
                <i class="material-icons">storefront</i>
                
                <mat-menu #menu="matMenu">
                        <a mat-list-item routerLink="empresa" >
                            <i class="material-icons">
                                reorder
                            </i>
                            Empresa
                        </a>
                        <p>
                        <a *ngIf="lock" mat-list-item routerLink="cadastroproduto" >
                                <i class="material-icons">
                                    storefront
                                </i>
                                Cadastro de Produto
                        </a>
                        <p>
                        <a *ngIf="lock" mat-list-item routerLink="produtoempresa" >
                            <i class="material-icons">
                                storefront
                            </i>
                            Associar Produto Empresa
                        </a>
                        <p>
                        <a mat-list-item routerLink="chamados">
                            <i class="material-icons">
                                reorder
                            </i>
                            Solicitações
                        </a>
                        <p>
                        <a mat-list-item routerLink="usuarios">
                            <i class="material-icons">
                                perm_identity
                            </i>
                            Usuários
                        </a>
                        <p>
                </mat-menu>
            </button>

            <a mat-list-item (click)="sairSistema()">
                <i class="material-icons">
                    logout
                </i>
                Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!--
        Chamar o componente Home como página Principal
    -->
    <mat-sidenav-content class="content">
        <div *ngIf="!opened">
            <i class="material-icons" (click)="opened=!opened" >
                navigate_next
            </i>
        </div>
            
        <div *ngIf="opened">
                <i class="material-icons" (click)="opened=!opened" >
                    navigate_before
                </i>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

