<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo
    </mat-card-title>
</mat-card>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="10%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let prod of produtos">
        <mat-card  class=" mat-elevation-z3">
            <mat-card-header>
                <mat-card-title>{{prod.nome}}</mat-card-title>
            </mat-card-header>
            <a *ngIf="!prod.bloqueado" mat-list-item routerLink="{{prod.nome}}" >
                <i class="material-icons" >
                   schedule
                </i>
            </a>
            <mat-card-footer>
                <div *ngIf="prod.bloqueado">
                    <i class="material-icons" >
                        block
                     </i>
                </div>
            </mat-card-footer>

        </mat-card>
      </div>
    </div>
  </div>