<a (click)="fecharPopup()">
  <i class="material-icons close">close</i>
</a>
<mat-tab-group (selectedTabChange)="selecionaAbaAgenda($event)">
  <!--Cadastro de AGENDA-->
  <mat-tab label="Cadastro de Agenda" id="labelAgenda">
    <div class="container">

      <mat-card *ngIf="!estadoForm">

        <mat-card-title>Agendas</mat-card-title>

        <div class="mat-elevation-z3">

          <span class="botaoBusca" (click)="selecionarAgenda($event)">
            <i class="material-icons">search</i>
          </span>

          <input class="textBusca" name="busca" id="txtbuscaAgenda" type="text" (keypress)="selecionarAgenda($event)"
            value="">

          <a (click)="CadastroAgenda()" class="cadGrupo">
            <i class="material-icons">add</i>
          </a>

          <table class="tabelaagenda" mat-table [dataSource]="agendas">
            <!-- Id Column -->

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell id="idAgenda" *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nomeAgenda">
              <th mat-header-cell *matHeaderCellDef>Nome Agenda</th>
              <td mat-cell *matCellDef="let row">{{row.nomeAgenda}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef>Responsável</th>
              <td mat-cell *matCellDef="let row">{{row.nome}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nomeUnidade">
              <th mat-header-cell *matHeaderCellDef>Unidade</th>
              <td mat-cell *matCellDef="let row">{{row.nomeUnidade}}</td>
            </ng-container>

            <ng-container matColumnDef="nomeSala">
              <th mat-header-cell *matHeaderCellDef>Sala</th>
              <td mat-cell *matCellDef="let row">{{row.nomeSala}}</td>
            </ng-container>

            <ng-container matColumnDef="nomeGrupoAgenda">
              <th mat-header-cell *matHeaderCellDef>Grupo Agenda</th>
              <td mat-cell *matCellDef="let row">{{row.nomeGrupoAgenda}}</td>
            </ng-container>

            <ng-container matColumnDef="vigenciaInicio">
              <th mat-header-cell *matHeaderCellDef>Inicio Agenda</th>
              <td mat-cell *matCellDef="let row">{{row.vigenciaInicio | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
            </ng-container>


            <ng-container matColumnDef="vigenciaFim">
              <th mat-header-cell *matHeaderCellDef>Fim Agenda</th>
              <td mat-cell *matCellDef="let row">{{row.vigenciaFim | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
            </ng-container>

            <!-- status -->
            <ng-container matColumnDef="bloqueado">
              <th mat-header-cell *matHeaderCellDef>Ativa</th>
              <td mat-cell *matCellDef="let row">
                <div *ngIf="row.bloqueado == 'Sim'">
                  <i class="material-icons">
                    lock
                  </i>
                </div>
                <div *ngIf="row.bloqueado == 'Não'">
                  <i class="material-icons">
                    lock_open
                  </i>
                </div>
              </td>
            </ng-container>


            <!-- Coluna de Ações -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Ações</th>
              <td mat-cell *matCellDef="let row">

                <a (click)="AtualizarAgenda(row.id)" class="edit">
                  <i class="material-icons">
                    edit
                  </i>
                </a>
                <a (click)="ExcluirAgenda(row.id)" class="delete">
                  <i class="material-icons">
                    delete
                  </i>
                </a>

              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="Colunas"></tr>
            <tr mat-row *matRowDef="let row; columns: Colunas;"
              [ngClass]="{'corLinhaGrid' : row.id == agendaSelecionada} " (click)="AgendaSelecionada(row)"></tr>
          </table>
        </div>
      </mat-card>

      <!-- Cadastro de agendas-->
      <mat-card *ngIf="estadoForm">
        <mat-card-title>{{ agenda && agenda.id > 0 ? 'Editar Agenda' : 'Nova Agenda'}}</mat-card-title>

        <form class="formularioRow">

          <mat-form-field appearance="outline">
            <input matInput placeholder="Nome da agenda" [(ngModel)]="agenda.nomeAgenda" name="nomeAgenda">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <i class="material-icons ordem" (click)="AtualizarComboProfissional()">refresh</i>
            <i class="material-icons ordem" (click)="novoUsuario()">person_add</i>
            <mat-select style="padding-top: 5px;" [(value)]="agenda.pessoaId" placeholder="Selecione o profissional">
              <mat-option *ngFor="let tipoProf of comboProfissional " [value]="tipoProf.id">
                {{tipoProf.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <i class="material-icons ordem" (click)="AtualizarComboUnidade()">refresh</i>
            <i class="material-icons ordem" (click)="novaUnidade()">house</i>
            <mat-select style="padding-top: 5px;" [(value)]="agenda.unidadeId" placeholder="Selecione a Unidade" (selectionChange)="BuscarSala()">
              <mat-option *ngFor="let tipounidade of comboUnidade " [value]="tipounidade.id">
                {{tipounidade.nomeUnidade}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select [(value)]="agenda.salaId" placeholder="Selecione a Sala">
              <mat-option *ngFor="let tipoSala of comboSala " [value]="tipoSala.id">
                {{tipoSala.nomeSala}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput placeholder="Substituição">
            <input name="substituicao" [(ngModel)]="agenda.substituicao" [checked]="agenda.substituicao"
              type="checkbox">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <i class="material-icons ordem" (click)="AtualizarComboGrupoAgenda()">refresh</i>
            <i class="material-icons ordem" (click)="cadGrupo()">house</i>
            <mat-select style="padding-top: 5px;" placeholder="Selecione a Unidade" [(value)]="agenda.grupoAgendaId" placeholder="Selecione o tipo da agenda">
              <mat-option *ngFor="let tipoGrupo of comboTipoGrupoAgenda " [value]="tipoGrupo.id">
                {{tipoGrupo.nomeGrupoAgenda}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <input matInput placeholder="Vigência Início" [(ngModel)]="agenda.vigenciaInicio" name="vigenciaInicio"
              type="datetime-local" teste>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <input matInput placeholder="Vigência Fim" [(ngModel)]="agenda.vigenciaFim" name="vigenciaFim"
              type="datetime-local">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput placeholder="Considera Feriado">
            <input name="considerarFeriado" [(ngModel)]="agenda.considerarFeriado" [checked]="agenda.considerarFeriado"
              type="checkbox">
          </mat-form-field>


          <mat-form-field *ngIf="agenda.id > 0" appearance="outline">
            <input matInput placeholder="bloqueado">
            <input name="bloqueado" [(ngModel)]="agenda.bloqueado" [checked]="agenda.bloqueado" type="checkbox">
          </mat-form-field>


        </form>
        <div style="margin-top: -2%;padding-left: 10px; ">
          <button *ngIf="agenda.nomeAgenda && agenda.vigenciaInicio && agenda.vigenciaFim" mat-raised-button
            (click)="createAgenda()" color="primary">
            Salvar
          </button>

          <button mat-raised-button (click)="Voltar()" color="primary">
            Voltar
          </button>
        </div>
      </mat-card>

    </div>
  </mat-tab>
  <!--Cadastro Grupo AGENDA-->
  <mat-tab label="Grupo Agenda">

    <mat-card>

      <mat-card-title class="titleCard">Grupo Agenda </mat-card-title>

      <div class="mat-elevation-z3">

        <span class="botaoBusca" (click)="selecionarGrupo($event)">
          <i class="material-icons">search</i>
        </span>

        <input class="textBusca" name="busca" id="txtbuscaGrupo" type="text" (keypress)="selecionarGrupo($event)"
          value="">

        <a (click)="cadGrupo()" class="cadGrupo">
          <i class="material-icons">add</i>
        </a>

        <table class="tabela" mat-table [dataSource]="grupos">
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell id="idgrupo" *matCellDef="let row">{{row.id}}</td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="dtCriacao">
            <th mat-header-cell *matHeaderCellDef>Criado Em</th>
            <td mat-cell *matCellDef="let row">{{row.dtCriacao | date: 'dd/MM/yyyy'}}</td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="nomeGrupoAgenda">
            <th mat-header-cell *matHeaderCellDef>Nome Grupo</th>
            <td mat-cell *matCellDef="let row">{{row.nomeGrupoAgenda}}</td>
          </ng-container>


          <!-- status -->
          <ng-container matColumnDef="bloqueado">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row">
              <div *ngIf="row.bloqueado">
                <i class="material-icons">
                  lock
                </i>
              </div>
              <div *ngIf="!row.bloqueado">
                <i class="material-icons">
                  lock_open
                </i>
              </div>
            </td>
          </ng-container>

          <!-- Coluna de Ações -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">

              <a (click)="AtualizarGrupo(row.id)" class="edit">
                <i class="material-icons">
                  edit
                </i>
              </a>
              <!-- <a (click)="ExcluirGrupo(row.id)" class="delete">
                          <i class="material-icons">
                            delete
                          </i>
                        </a> -->

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="ColunasGrupo"></tr>
          <tr mat-row *matRowDef="let row; columns: ColunasGrupo;"></tr>
        </table>
      </div>
    </mat-card>




  </mat-tab>


  <!--Cadastro de Horários-->

  <mat-tab label="Horários">
    <div class="HorarioHeader">
      GERAÇÃO DE HORARIOS.
      <br />
      <span><b>Mostrar horários antigos </b></span>
      <input [(ngModel)]="todosOsHorariosDaAgenda" [checked]="todosOsHorariosDaAgenda" type="checkbox"
        (click)="ExibirTodosOsHorarios()">

    </div>
    <hr /><br />
    <div class="display">
      <div class="displayDiasemana">Dia da Semana</div>
      <div class="displayTipo">Tipo</div>
      <div class="displayintervalo">Intervalo</div>
      <div class="displayhorainicio">Hora Início</div>
      <div class="displayhorafim">Hora Fim</div>
    </div>

    <mat-select [(value)]="dadosHorarios.diaDasemana" placeholder="Selecione" class="formataSelectDia">
      <mat-option [value]="1">Domingo</mat-option>
      <mat-option [value]="2">Segunda</mat-option>
      <mat-option [value]="3">Terça</mat-option>
      <mat-option [value]="4">Quarta</mat-option>
      <mat-option [value]="5">Quinta</mat-option>
      <mat-option [value]="6">Sexta</mat-option>
      <mat-option [value]="7">Sábado</mat-option>
    </mat-select>

    <mat-select [(value)]="dadosHorarios.tipoHorario" placeholder="Selecione" class="formataSelectTipo">
      <mat-option [value]="1">Normal</mat-option>
      <mat-option [value]="2">Encaixe</mat-option>
    </mat-select>


    <input class="tempo" name="intervalo" id="intervalo" [(ngModel)]="dadosHorarios.intervalo" type="time"
      placeholder="HH:mm" min="08:00">
    <input class="tempo" name="horainicio" id="horainicio" [(ngModel)]="dadosHorarios.horaInicio" type="time">
    <input class="tempo" name="horafim" id="horafim" [(ngModel)]="dadosHorarios.horaFim" type="time">

    <span (click)="CriarHorarios()">
      <i class="material-icons botao">refresh</i>
    </span>

    <br />

    <div class="display">

      <!-- Dias da semana 
        
        Segunda-->

      <table class="tabelaHorario" mat-table [dataSource]="segunda">
        <!-- Id Column -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef><b>Segunda</b></th>
          <td mat-cell id="idhora" *matCellDef="let row" class="cursor" (click)="DetalhesDatas(row)">{{row | date:
            'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef><b>Qtd</b></th>
          <td mat-cell style="color: rgb(81, 81, 235);" *matCellDef="let row">{{QuantidadeAgendamento(row, 2)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ColunasDatas"></tr>
        <tr mat-row *matRowDef="let row; columns: ColunasDatas;"></tr>
      </table>

      <!--Terça-->

      <table class="tabelaHorario" mat-table [dataSource]="terca">

        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef><b>Terça</b></th>
          <td mat-cell id="idhora" *matCellDef="let row" class="cursor" (click)="DetalhesDatas(row)">{{row |
            date:'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef><b>Qtd</b> <br />
          <td mat-cell style="color: rgb(81, 81, 235);" *matCellDef="let row">{{QuantidadeAgendamento(row, 3)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ColunasDatas"></tr>
        <tr mat-row *matRowDef="let row; columns: ColunasDatas;"></tr>
      </table>

      <!--Quarta-->

      <table class="tabelaHorario" mat-table [dataSource]="quarta">
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef><b>Quarta</b></th>
          <td mat-cell id="idhora" *matCellDef="let row" class="cursor" (click)="DetalhesDatas(row)">{{row | date:
            'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef><b>Qtd</b></th>
          <td mat-cell style="color: rgb(81, 81, 235);" *matCellDef="let row">{{QuantidadeAgendamento(row, 4)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ColunasDatas"></tr>
        <tr mat-row *matRowDef="let row; columns: ColunasDatas;"></tr>
      </table>

      <!--Quinta-->

      <table class="tabelaHorario" mat-table [dataSource]="quinta">
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef><b>Quinta</b></th>
          <td mat-cell id="idhora" *matCellDef="let row" class="cursor" (click)="DetalhesDatas(row)">{{row | date:
            'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef><b>Qtd</b></th>
          <td mat-cell style="color: rgb(81, 81, 235);" *matCellDef="let row">{{QuantidadeAgendamento(row, 5)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ColunasDatas"></tr>
        <tr mat-row *matRowDef="let row; columns: ColunasDatas;"></tr>
      </table>

      <!--Sexta-->

      <table class="tabelaHorario" mat-table [dataSource]="sexta">
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef><b>Sexta</b></th>
          <td mat-cell id="idhora" *matCellDef="let row" class="cursor" (click)="DetalhesDatas(row)">{{row | date:
            'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef><b>Qtd</b></th>
          <td mat-cell style="color: rgb(81, 81, 235);" *matCellDef="let row">{{QuantidadeAgendamento(row, 6)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ColunasDatas"></tr>
        <tr mat-row *matRowDef="let row; columns: ColunasDatas;"></tr>

      </table>

      <!--Sábado-->

      <table class="tabelaHorario" mat-table [dataSource]="sabado">
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef><b>Sábado</b></th>
          <td mat-cell id="idhora" *matCellDef="let row" class="cursor" (click)="DetalhesDatas(row)">{{row | date:
            'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef><b>Qtd</b></th>
          <td mat-cell style="color: rgb(81, 81, 235);" *matCellDef="let row">{{QuantidadeAgendamento(row, 7)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ColunasDatas"></tr>
        <tr mat-row *matRowDef="let row; columns: ColunasDatas;"></tr>
      </table>

      <!--Domingo-->

      <table class="tabelaHorario" mat-table [dataSource]="domingo">
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef><b>Domingo</b></th>
          <td mat-cell id="idhora" *matCellDef="let row" class="cursor" (click)="DetalhesDatas(row)">{{row | date:
            'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef><b>Qtd</b></th>
          <td mat-cell style="color: rgb(81, 81, 235);" *matCellDef="let row">{{QuantidadeAgendamento(row, 1)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ColunasDatas"></tr>
        <tr mat-row *matRowDef="let row; columns: ColunasDatas;"></tr>
      </table>

    </div>

  </mat-tab>

  <!--Cadastro os dias que não atende-->
  <mat-tab label="Data N.Atende">

    <div style="display:ruby-text;padding-top: 5px;">
      <mat-form-field>
        <div style="display: flex;">
          <input matInput matTooltip="Cadastrar nova Data" [matDatepicker]="Cnovadata"
            [(ngModel)]="dataNaoAtende.dataNaoAtende" name="novadata">
          <mat-datepicker-toggle matIconSuffix [for]="Cnovadata"></mat-datepicker-toggle>
          <mat-datepicker #Cnovadata></mat-datepicker>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Motivo" [(ngModel)]="dataNaoAtende.motivo" name="Motivo">
      </mat-form-field>

      <a (click)="CadastroDataNaoAtende()" class="cadGrupo">
        <i class="material-icons">save</i>
      </a>
    </div>
    <table class="tabelaagenda" mat-table [dataSource]="agendaDataNaoAtende">
      <!-- Id Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell id="idAgenda" *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="dataNaoAtende">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let row">{{row.dataNaoAtende | date: 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="motivo">
        <th mat-header-cell *matHeaderCellDef>Motivo</th>
        <td mat-cell *matCellDef="let row">{{row.motivo }}</td>
      </ng-container>

      <!-- Coluna de Ações -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">

          <a (click)="ExcluirDataNaoAtende(row.id)" class="delete">
            <i class="material-icons">
              delete
            </i>
          </a>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="ColunasDatasNaoAtende"></tr>
      <tr mat-row *matRowDef="let row; columns: ColunasDatasNaoAtende;"
        [ngClass]="{'corLinhaGrid' : row.id == agendaSelecionada} " (click)="AgendaSelecionada(row.id)"></tr>
    </table>




  </mat-tab>

  <!--Cadastro dados produtos disponíveis para essa agenda-->
  <mat-tab label="Serviços Agendáveis">


    <a (click)="CadastroCatalogo()" class="cadGrupo">
      <i class="material-icons">add</i>
    </a>

    <table class="tabelaagenda" mat-table [dataSource]="catalogoServicosAgenda">
      <!-- Id Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell id="idAgenda" *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome Serviço</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="codigoBarras">
        <th mat-header-cell *matHeaderCellDef>Cod.Barras</th>
        <td mat-cell *matCellDef="let row">{{row.codigoBarras}}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let row">{{row.valor}}</td>
      </ng-container>

      <!-- Coluna de Ações -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">


          <a (click)="ExcluirServicoAgenda(row.id)" class="delete">
            <i class="material-icons">
              delete
            </i>
          </a>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="ColunasServicosAgendaveis"></tr>
      <tr mat-row *matRowDef="let row; columns: ColunasServicosAgendaveis;"
        [ngClass]="{'corLinhaGrid' : row.id == agendaSelecionada} " (click)="AgendaSelecionada(row.id)"></tr>
    </table>



  </mat-tab>


</mat-tab-group>