<mat-card>
    <mat-card-title>Habilitar - Produto Empresa</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Produto">
                <p></p>
                <mat-select [(value)]="product.nome" placeholder="productId" >
                    <mat-option *ngFor="let produto of comboProduto " [value]="produto.nome">
                         {{produto}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field>
                <input matInput placeholder="Empresa">
                <p></p>
                <mat-select [(value)]="product.empresaid" placeholder="EmpresaID" >
                    <mat-option *ngFor="let comboEmpresa of empresa" [value]="comboEmpresa.id">
                            {{comboEmpresa.nomeFantasia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Preço R$"
                [(ngModel)]="product.valor" name="valor">

            </mat-form-field>
            
        </form>

        <button mat-raised-button (click)="associarProdutoEmpresa()" color="primary" > 
            Salvar
        </button>
        
        <button mat-raised-button (click)="fecharPopup()" color="primary" > 
            Cancelar
        </button>
</mat-card>

