<mat-tab-group>
    <mat-tab label="Empresa">
        <section>

            <div class="container">

                <mat-card>
                    <mat-card-title>Nova Empresa</mat-card-title>
                    <form>
                        <mat-form-field>
                            <input matInput placeholder="Nome" [(ngModel)]="empresa.nome" name="nome">
                        </mat-form-field>

                        <mat-form-field  appearance="outline">
                            <mat-label>Tipo de Pessoa</mat-label>
                            <mat-select [disabled]="empresa.id > 0 && dadosLogados.TipoUsuarioLogado > 1" [(value)]="empresa.tipoPessoa" placeholder="Tipo de Pessoa">
                                <mat-option *ngFor="let tp  of tipoPessoa" [value]="tp.id">
                                    {{tp.tipo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <input [disabled]="empresa.id > 0 && dadosLogados.TipoUsuarioLogado > 1" matInput placeholder="Cpf/Cnpj" [(ngModel)]="empresa.cpfCnpj" name="cpfCnpj">
                        </mat-form-field>


                        <mat-form-field>
                            <input matInput placeholder="Razão Social" [(ngModel)]="empresa.razaoSocial"
                                name="razaoSocial">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Nome Fantasia" [(ngModel)]="empresa.nomeFantasia"
                                name="nomeFantasia">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Inscrição Estadual" [(ngModel)]="empresa.inscricaoEstadual"
                                name="inscricaoEstadual">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Inscrição Municipal" [(ngModel)]="empresa.inscricaoMunicipal"
                                name="inscricaoMunicipal">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="CNES" [(ngModel)]="empresa.cnes" name="cnes">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Cod. PIS" [(ngModel)]="empresa.codPIS" name="codPIS">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Domínio esse campo será usado na tela de login da empresa"
                                [(ngModel)]="empresa.dominio" name="dominio">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Cod. CNAE" [(ngModel)]="empresa.codCnae" name="codCnae">
                        </mat-form-field>

                        <div *ngIf="empresa.id > 0 && dadosLogados.TipoUsuarioLogado === 1">
                            <mat-form-field >
                                        <input matInput placeholder="Status">
                                                    <input name="status" [(ngModel)]="empresa.status" [checked]="empresa.status" type="checkbox">
                            </mat-form-field>
                        </div>

                    </form>

                    <button *ngIf="empresa.cpfCnpj && empresa.nomeFantasia && empresa.razaoSocial" mat-raised-button
                        (click)="cadastrarEmpresa()" color="primary">
                        Salvar
                    </button>

                    <button mat-raised-button (click)="fecharPopup()" color="primary">
                        Sair
                    </button>
                </mat-card>

            </div>

        </section>
    </mat-tab>
    <mat-tab label="Contato"> Contatos</mat-tab>
    <mat-tab label="Endereços">Endereços </mat-tab>
</mat-tab-group>