<div class="close">
    <a (click)="fecharPopup()">
      <i class="material-icons">
        close
      </i>
    </a>
</div>

<mat-card>
    <mat-card-title>Cadastro de Pessoa</mat-card-title>

    <form class="formularioRow" style="margin-top: 5%;">
            
              <mat-form-field appearance="outline" style="width: 25%;">
                  <mat-label>Nome</mat-label>
                  <input matInput placeholder="Nome" id="nomePessoa"
                  [(ngModel)]="pessoa.nome" name="nome">        
              </mat-form-field>
          
              <mat-form-field appearance="outline" style="width: 25%;">
                  <mat-label>Responsável</mat-label>
                  <input matInput placeholder="Responsável" id="resposavel"
                  [(ngModel)]="pessoa.responsavel" name="responsavel">
              </mat-form-field>
  
              <mat-form-field appearance="outline" style="width: 15%">
                  <mat-label>RG</mat-label>
                  <input matInput placeholder="RG - Apenas Números" type="number"
                  [(ngModel)]="pessoa.rg" name="rg">
              </mat-form-field>
  
              <mat-form-field appearance="outline" style="width: 15%;">
                  <mat-label>CPF</mat-label>
                  <input matInput placeholder="CPF - Apenas Números" type="number"
                  [(ngModel)]="pessoa.cpfcnpj" name="cpf">
              </mat-form-field>
  
              <mat-form-field appearance="outline" style="width: 12%;">
                <mat-label>Data Nascimento</mat-label>
                <input matInput placeholder="Data Nasc" id="dataNascimento" type="date"
                [(ngModel)]="pessoa.dataNascimento" name="dataNascimento">
              </mat-form-field>
            
              <br />
           
              <mat-form-field appearance="outline" style="width: 25%;">
                <mat-label>Parentesco</mat-label>
                <input matInput placeholder="Parentesco" id="parentesco"
                [(ngModel)]="pessoa.parentesco" name="parentesco">
              </mat-form-field>
  
              <mat-form-field appearance="outline" style="width: 15%;">
                <mat-select [(value)]="pessoa.estCivil" placeholder="EstCivil" id="EstCivil">
                  <mat-option *ngFor="let t of estCivil" [value]="t.id">
                    {{t.tipo}}
                  </mat-option>
                </mat-select>
  
              </mat-form-field>
  
              <mat-form-field appearance="outline" style="width: 8%;">
                <mat-select [(value)]="pessoa.sexo" placeholder="Sexo">
                  <mat-option *ngFor="let t of sexo" [value]="t.id">
                    {{t.tipo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              
              <mat-card-title>Contatos</mat-card-title>
              
              <mat-form-field appearance="outline" type="number" style="width: 8%;">
                <mat-label>DDD</mat-label>
                <input matInput placeholder="ddd" id="DDD"
                [(ngModel)]="telefone.ddd" name="ddd">        
              </mat-form-field>

              <mat-form-field appearance="outline" style="width: 15%;">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Telefone" id="numTeleFone" type="number" 
                [(ngModel)]="telefone.numTeleFone" name="numTeleFone">        
              </mat-form-field>

              <mat-form-field appearance="outline" style="width: 15%;">
                <mat-label>Ramal</mat-label>
                <input matInput placeholder="Ramal" id="Ramal" type="number"
                [(ngModel)]="telefone.ramal" name="ramal">        
              </mat-form-field>
              
                
              <mat-form-field appearance="outline" style="width: 25%;">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="e-mail" id="nomeContato" type="email" 
                [(ngModel)]="contato.email" name="email">        
              </mat-form-field>
              
              <mat-form-field appearance="outline" style="width: 25%;">
                <mat-label>Email Secundário</mat-label>
                <input matInput placeholder="E-mail Secundário" id="email_secundario" type="email"
                [(ngModel)]="contato.email_secundario" name="email_secundario">        
              </mat-form-field>
    </form>
</mat-card>
    <div class="rodape">
      <button class="button" mat-raised-button color="primary" (click)="salvar()">
        Salvar
      </button>
      <button class="button" mat-raised-button color="primary" (click)="fecharPopup()">
        Cancelar
      </button>
    </div>
  
         
  