<a (click)="fecharPopup()">
    <i class="material-icons close">
      close
    </i>
</a>
<h5>Dados Pessoais</h5>
<mat-form-field appearance="outline" style="width: 170px;">
    <mat-label>Protocolo</mat-label>
    <input matInput placeholder="Protocolo"
    [(ngModel)]="protocolo.id" name="protocolo" disabled="true">        
</mat-form-field>
         <form>
            <mat-form-field appearance="outline" style="width: 200px;">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome"
                [(ngModel)]="pessoa.nome" name="nome">        
            </mat-form-field>
        
            <mat-form-field appearance="outline" style="width: 200px;">
                <mat-label>Responsável</mat-label>
                <input matInput placeholder="Responsável"
                [(ngModel)]="pessoa.responsavel" name="responsavel">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 85px;">
                <mat-label>RG</mat-label>
                <input matInput placeholder="RG"
                [(ngModel)]="pessoa.rg" name="rg">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100px; height: 80px;">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="CPF"
                [(ngModel)]="pessoa.cpfcnpj" name="cpf">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 105px;">
              <mat-label>Data Nascimento</mat-label>
              <input matInput placeholder="Data Nascimento"
              [(ngModel)]="pessoa.dataNascimento" name="dataNascimento">
            </mat-form-field>
            <span (click)="editarPessoa()">
                <i class="material-icons botaoBuscaPopups">save</i>
            </span>
        </form>

<app-pessoa></app-pessoa>


<h5>CONTATOS</h5>

<span>
    <i class="material-icons botaoBuscaPopups">search</i>
</span>

<h5>FILTROS</h5>
<hr />
<span>
    <i class="material-icons botaoBuscaPopups">search</i>
</span>