
<div class="close">
    <a (click)="fecharPopup()">
        <i class="material-icons">
            close
        </i>
    </a>
</div>
<h1 class="close">PROT.: {{protocolo.id}}</h1>
<br>
<hr />
<h3>Dados do Agendamento</h3>
<form>
    <mat-form-field appearance="outline" style="width: 17%;">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" id="nomePessoa"
        [(ngModel)]="agendamento.nome" name="nome">        
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 11%">
        <mat-label>RG</mat-label>
        <input matInput placeholder="RG" type="number"
        [(ngModel)]="agendamento.rg" name="rg">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 12%;">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="CPF" type="number"
        [(ngModel)]="agendamento.cpf" name="cpf">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 12%">
        <mat-label>Tel. Res</mat-label>
        <input matInput placeholder="Telefone" type="number"
        [(ngModel)]="agendamento.telefone" name="telefone">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 12%">
        <mat-label>Tel. Cel</mat-label>
        <input matInput placeholder="Celular" type="number"
        [(ngModel)]="agendamento.celular" name="celular">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 10%; height: 10px;">
        <mat-label>Data Nascimento</mat-label>
        <input matInput placeholder="Data Nasc" id="dataNascimento" maxlength="10" type="datetime" 
        [ngModel]="agendamento.dataNascimento|date:'dd/MM/yyyy'" name="dataNascimento">
      </mat-form-field>

    <mat-form-field appearance="outline" style="width: 18%">
        <mat-label>E-Mail</mat-label>
        <input matInput placeholder="email" type="text"
        [(ngModel)]="agendamento.email" name="email">
    </mat-form-field>
    <span (click)="AtualizarDados()" >
        <i class="material-icons botao">save</i>
    </span>

<h5>FILTROS</h5>
<hr />
<mat-form-field appearance="outline" style="width: 13%;">
    <mat-label>Período</mat-label>
    <mat-select [(value)]="idPeriodo" placeholder="Qualquer período" (selectionChange)="AtualizaPeriodo()">
        <mat-option  *ngFor="let period  of periodo" [value]="period.id">
            {{period.horario}} 
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" style="width: 5%;">
    <mat-label>Hora Início</mat-label>
        <input matInput placeholder="Hora Início" id="horaInicio" 
        [ngModel]="filtros.horaInicioPeriodo" name="horaInicioPeriodo">        
</mat-form-field>

<mat-form-field appearance="outline" style="width: 5%;">
    <mat-label>Hora Fim</mat-label>
        <input matInput placeholder="Hora Fim" id="horaFim" 
        [(ngModel)]="filtros.horaFimPeriodo" name="horaFimPeriodo" >        
</mat-form-field>

<mat-form-field appearance="outline" style="width: 10%; height: 10px;">
    <mat-label>Data</mat-label>
    <input matInput placeholder="Data" id="DataPeriodo" maxlength="10" type="datetime" 
    [ngModel]="filtros.data|date:'dd/MM/yyyy'" name="data">
  </mat-form-field>

</form>