<mat-dialog-content>
    <div class="mat-elevation-z3">

      <div class="barraMenu">
          <button mat-button [matMenuTriggerFor]="menu">Rotina Diária</button>
            <mat-menu #menu="matMenu">
              <a mat-menu-item>Agendamento</a>
              <a mat-menu-item>Consulta de Agenda</a>
              <a mat-menu-item>Consulta Agendamentos</a>
            
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menucadastro">Cadastro</button>
              <mat-menu #menucadastro="matMenu">
                <a (click)="addNovaAgenda()" mat-menu-item>Agenda</a>
                <a (click)="addUnidade()" mat-menu-item>Unidade</a>              
              </mat-menu>

              <span class="botaoBusca" (click)="buscarAgendamento()" (keypress)="buscarAgendamento()">
                <i class="material-icons">search</i>
              </span>

              <input class="textBusca"  name="busca" id="busca" type="text" value="">
      </div>
         
              <!--Inserir a tabela aqui-->

              <div>
                <h1>Aqui será apresentado os agendamentos</h1>
              </div>
              
              </div>

      <div class="row">
        <router-outlet></router-outlet>
      </div>
</mat-dialog-content>
  