  <div class="mat-elevation-z3">

    
    <button mat-button [matMenuTriggerFor]="menu">Agenda</button>
    <mat-menu #menu="matMenu">
    <a routerLinkActive="agenda-create-active" [routerLink]="['agenda-create']" (click)="LimparAgenda()" mat-menu-item>Nova Agenda</a> 
    <a mat-menu-item>Grupo de Agenda</a>
     <a mat-menu-item>Sala</a>
    </mat-menu>
    
        <span class="botaoBusca" (click)="buscarAgenda()">
          <i class="material-icons">search</i>
        </span>

        <input class="textBusca"  name="busca" id="busca" type="text" value="">

      <table class="tabelaagenda" mat-table [dataSource]="agenda">
        <!-- Id Column -->
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="DtCriacao">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let row">{{row.DtCriacao}}</td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="nomeAgenda">
          <th mat-header-cell *matHeaderCellDef>Nome Agenda</th>
          <td mat-cell *matCellDef="let row">{{row.nomeAgenda}}</td>
        </ng-container>
  
         <!-- Name Column -->
         <ng-container matColumnDef="nomeFantasia">
          <th mat-header-cell *matHeaderCellDef>Nome Fantasia</th>
          <td mat-cell *matCellDef="let row">{{row.nomeFantasia}}</td>
        </ng-container>
  
        <!-- Name Price -->
        <ng-container matColumnDef="empresaid">
          <th mat-header-cell *matHeaderCellDef>Empresa</th>
          <td mat-cell *matCellDef="let row">{{row.empresaid}}</td>
        </ng-container>
  
         <!-- Name Column -->
         <ng-container matColumnDef="unidadeid">
          <th mat-header-cell *matHeaderCellDef>Unidade</th>
          <td mat-cell *matCellDef="let row">{{row.unidadeid}}</td>
        </ng-container>
  
        <ng-container matColumnDef="salaid">
            <th mat-header-cell *matHeaderCellDef>Sala</th>
            <td mat-cell *matCellDef="let row">{{row.salaid}}</td>
          </ng-container>
    
          <ng-container matColumnDef="profissionalid">
            <th mat-header-cell *matHeaderCellDef>Profissional</th>
            <td mat-cell *matCellDef="let row">{{row.profissionalid}}</td>
          </ng-container>

          <ng-container matColumnDef="grupoAgendaid">
            <th mat-header-cell *matHeaderCellDef>Grupo Agenda</th>
            <td mat-cell *matCellDef="let row">{{row.grupoAgendaid}}</td>
          </ng-container>

          <ng-container matColumnDef="substituicao">
            <th mat-header-cell *matHeaderCellDef>Pode Substituir?</th>
            <td mat-cell *matCellDef="let row">{{row.substituicao}}</td>
          </ng-container>

          
          <ng-container matColumnDef="vigenciaInico">
            <th mat-header-cell *matHeaderCellDef>Vigência Início</th>
            <td mat-cell *matCellDef="let row">{{row.vigenciaInico}}</td>
          </ng-container>


          <ng-container matColumnDef="vigenciaFim">
            <th mat-header-cell *matHeaderCellDef>Vigência Fim</th>
            <td mat-cell *matCellDef="let row">{{row.vigenciaFim}}</td>
          </ng-container>

          
          <ng-container matColumnDef="considerarFeriado">
            <th mat-header-cell *matHeaderCellDef>Considera Feriado</th>
            <td mat-cell *matCellDef="let row">{{row.considerarFeriado}}</td>
          </ng-container>

        <!-- status -->
        <ng-container matColumnDef="ativo">
          <th mat-header-cell *matHeaderCellDef>Ativa</th>
            <td mat-cell *matCellDef="let row">
              <div *ngIf="row.ativo" >
                <i class="material-icons">
                  lock
                </i>
              </div>
              <div *ngIf="!row.ativo" >
                <i class="material-icons">  
                  lock_open
                </i>
              </div>
            </td>
          </ng-container>
  
         
        <!-- Coluna de Ações -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let row">
              <a [routerLink]="['agenda-create']" (click)="LimparAgenda()" class="delete">
                <i class="material-icons">
                  person_add
                </i>
              </a>
              <a routerLinkActive="agenda-update-active" routerLink="agenda-update/{{ row.id }}" (click)="LimparAgenda()" class="edit">
                  <i class="material-icons">
                      edit
                  </i>
              </a>
              <a routerLinkActive="agenda-delete-active" routerLink="agenda-delete/{{ row.id }}" (click)="LimparAgenda()" class="delete">
                  <i class="material-icons">
                      delete
                  </i>
              </a>
              
          </td>
        </ng-container>
            
    
        <tr mat-header-row *matHeaderRowDef="Colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: Colunas;"></tr>
      </table>

  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
  
  