.tabelaagenda{
    width: 70%;
    background-color: ivory;
    grid-column-start: auto;
}

.imagem{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}


.edit {
    margin-right: 15px;
}

.edit > i{
    color: #d9cd26;
}
.delete > i{
    color: #e35e6b;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.textBusca {
    float: right;
    margin-top: 15px;
}

.botaoBusca {
    float :right;
    font-size: 15px;
    width: 150px;
    margin-top: 2px;

}

.icones{
    font-size: 20px;
    width: 150px;
    vertical-align: middle;
}

.material-icons {
    font-size: 20px;
    margin: 15px;
}



.footer .material-icons {

    margin: 15px;
    margin-left: 10px;
        
}




