<div>
  <input class="search" name="busca" id="busca" type="text" value="">

  <span (click)="buscarEmpresa()">
    <i class="material-icons">search</i>
  </span>
</div>

<div class="footer">
  <span (click)="CadastrarEmpresa()">
    <i class="material-icons">person_add</i>
  </span>
</div>

<div class="mat-elevation-z4">
  <table mat-table [dataSource]="empresas">
    <!-- Id Column -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cpfCnpj">
      <mat-header-cell *matHeaderCellDef>Cpf/Cnpj</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.cpfCnpj}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="razaoSocial">
      <mat-header-cell *matHeaderCellDef>Razão Social</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.razaoSocial}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nomeFantasia">
      <mat-header-cell *matHeaderCellDef>Nome Fantasia</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nomeFantasia}}</mat-cell>
    </ng-container>

    <!-- Name Price -->
    <ng-container matColumnDef="inscricaoEstadual">
      <mat-header-cell *matHeaderCellDef>Ins. Estadual</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.inscricaoEstadual}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="inscricaoMunicipal">
      <mat-header-cell *matHeaderCellDef>Ins. Municipal</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.inscricaoMunicipal}}</mat-cell>
    </ng-container>

    <!-- status -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.status ">
          <i class="material-icons">
            lock_open
          </i>
        </div>
        <div *ngIf="!row.status">
          <i class="material-icons">
            lock
          </i>
        </div>
      </mat-cell>
    </ng-container>


    <!-- Coluna de Ações -->

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>

      <mat-cell style="padding-right: 50px;" *matCellDef="let row">

        <a (click)="EditarEmpresa(row.id)">
          <i class="material-icons edit cursor">
            edit
          </i>
        </a>
        <a (click)="Pessoas(row)">
          <i matTooltip="Pessoas" class="material-icons delete cursor ">
            groups
          </i>
        </a>

        <a (click)="Usuarios(row)">
          <i matTooltip="Usuários" class="material-icons delete cursor ">
            manage_accounts
          </i>
        </a>

        <a (click)="ProdutosEmpresa(row)">
          <i matTooltip="Produtos da Empresa" class="material-icons delete cursor ">
            qr_code
          </i>
        </a>


        <a (click)="SolucoesEmpresa(row)">
          <i matTooltip="Soluções contratadas" class="material-icons delete cursor ">
            checklist
          </i>
        </a>

      </mat-cell>

    </ng-container>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'corLinhaGrid' : row.id == idSelecionado}"
      (click)="selecionaLinha(row.id)">
    </mat-row>
  </table>
</div>