table{
    width: 100%;
}

.imagem{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}


.edit {
    margin-right: 15px;
}

.edit {
    color: #d9cd26;
}
.delete{
    color: #e35e6b;
    margin-left: 15px;
}

.mat-tab-group {
    margin-bottom: 48px;
  }



  

.search {
    font-size: 20px;
    width: 150px;
}

.material-icons {
    font-size: 20px;
    margin: 15px;
}



.footer .material-icons {

    margin: 15px;
    margin-left: 10px;
        
}
