<mat-card>
    <mat-card-title>Alterar Unidade</mat-card-title>
        <form>

            <mat-form-field>
                <input matInput placeholder="Id" 
                [(ngModel)]="unidade.id" name="id" disabled = "true">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Nome Unidade" 
                [(ngModel)]="unidade.nomeUnidade" name="nomeUnidade" disabled = "true">
            </mat-form-field>

        </form>

        <button *ngIf="unidade.nomeUnidade" mat-raised-button (click)="ExcluirUnidade()" color="primary" > 
            Excluir
        </button>
        
        <button mat-raised-button (click)="fecharPopup()" color="primary" > 
          Sair
        </button>
       
</mat-card>