<mat-card >
    <mat-card-title><i class="material-icons">account_box</i></mat-card-title>
        <form>
            <mat-form-field > 
                <input matInput placeholder="Chave Empresa" 
                 [(ngModel)]="acesso.nome" name="name" placeholder="Empresa">
                 
            </mat-form-field>

            <mat-form-field > 
                <input matInput placeholder="login" 
                 [(ngModel)]="acesso.login" name="name" placeholder="login">
                 
            </mat-form-field>
           
            <mat-form-field >
                <input matInput placeholder="senha"
                [(ngModel)]="acesso.senha" type="password" name="senha" (keypress)="logarSistema($event)">
                
            </mat-form-field>
        </form>
        
            <div *ngIf="acesso.login && acesso.senha && acesso.nome">
                <button mat-raised-button (click)="logarSistema($event)"  color="primary"> 
                    Login
                </button> 
            </div>
          
   
       
        

</mat-card>        
