<mat-card >
    <mat-card-title><i class="material-icons">account_box</i></mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Empresa">
                <p></p>
                <mat-select [(value)]="acesso.empresaId" placeholder="empId" >
                    <mat-option *ngFor="let empresa of comboEmpresa " [value]="empresa.id">
                        {{empresa.nomeFantasia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field > 
                <input matInput placeholder="login" 
                 [(ngModel)]="acesso.login" name="name" placeholder="login">
                 
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="senha"
                [(ngModel)]="acesso.senha" type="password" name="senha">
                
            </mat-form-field>
        </form>
        
            <div *ngIf="acesso.login && acesso.senha">
                <button mat-raised-button (click)="logarSistema()" color="primary"> 
                    Login
                </button> 
            </div>
          
   
       
        

</mat-card>        
