<mat-card>
    <mat-card-title>Novo Usuário</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome" 
                 [(ngModel)]="usuario.nome" name="name">

            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email"
                [(ngModel)]="usuario.email" name="email">

            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefone"
                [(ngModel)]="usuario.telefone" name="telefone">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Login"
                [(ngModel)]="usuario.login" name="login">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Senha" type="password"
                [(ngModel)]="usuario.senha" name="senha">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Empresa">
                <p></p>
                <mat-select [(value)]="usuario.empresaId" placeholder="EmpresaID" >
                    <mat-option *ngFor="let dadosEmpresa of empresa | async" [value]="dadosEmpresa.id">
                       {{dadosEmpresa.nomeFantasia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            </form>

        <button mat-raised-button (click)="createUsuario()" color="primary" > 
            Salvar
        </button>
        
        <button mat-raised-button (click)="cancel()" color="primary" > 
            Cancelar
        </button>
</mat-card>