<mat-card>
    <h1>Cadastro de Usuário</h1>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="usuario.nomeUsuario" name="nome">

        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Senha" type="password" [(ngModel)]="usuario.senha" name="senha">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Tipo de Usuário">
            <p></p>
            <mat-select [(value)]="usuario.tipoUsuario" placeholder="tipousuario">
                <mat-option *ngFor="let us of tipoUsuario " [value]="us.id">
                    {{us.tipo}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <button *ngIf="usuario.nomeUsuario && usuario.senha" mat-raised-button (click)="fecharPopup(true)" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="fecharPopup(false)" color="primary">
        Voltar
    </button>


</mat-card>