<mat-card>
    <form>
            <mat-form-field>
                <input matInput placeholder="Nome" 
                [(ngModel)]="usuario.nome" name="name">

            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Login"
                [(ngModel)]="usuario.login" name="login">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Senha" type="password"
                [(ngModel)]="usuario.senha" name="senha">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Crachá"
                [(ngModel)]="usuario.cracha" name="cracha">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Usuario de Sistema">
                    <input name="usuariosisteja" [(ngModel)]="usuario.bolSistema" [checked]="usuario.bolSistema" type="checkbox">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Reseta Senha">
                    <input name="usuariresetasenha" [(ngModel)]="usuario.bolResetaSenha" [checked]="usuario.bolResetaSenha" type="checkbox">
            </mat-form-field>

            
            <mat-form-field>
                <input matInput placeholder="Tipo de Usuário">
                <p></p>
                <mat-select [(value)]="usuario.grupoUsuarioId" placeholder="tipousuario" >
                    <mat-option *ngFor="let tipo of comboTipousuario " [value]="tipo">
                        {{tipo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Empresa">
                <p></p>
                <mat-select [(value)]="usuario.empresaId" placeholder="EmpresaID" >
                    <mat-option *ngFor="let dadosEmpresa of empresa" [value]="dadosEmpresa.id">
                    {{dadosEmpresa.nomeFantasia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Profissional">
                    <input name="usuarioProfissional" [(ngModel)]="usuario.profissional" [checked]="usuario.profissional" type="checkbox">
            </mat-form-field>

    </form>
            <button *ngIf="usuario.nome && usuario.login && usuario.senha && usuario.grupoUsuarioId && usuario.empresaId" mat-raised-button (click)="createUsuario()" color="primary" > 
                Salvar
            </button>
  
            <button mat-raised-button (click)="cancel()" color="primary" > 
                Voltar
            </button>
  
 
</mat-card>