<mat-card>
    <mat-card-title>Excluir Usuário</mat-card-title>
        <!-- <form>
            <mat-form-field>
                <input matInput placeholder="Nome" 
                 [(ngModel)]="usuario.nome" name="nome" disabled = "true" > 

            </mat-form-field>
            
            
            <mat-form-field>
                <input matInput placeholder="Login"
                [(ngModel)]="usuario.login" name="login" disabled="true">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Empresa"
                [(ngModel)]="usuario.empresaid" name="empresaid" disabled="true" >
            </mat-form-field>

        </form>

        <button mat-raised-button (click)="deleteUsuario()" color="primary" > 
            Excluir
        </button>
        
        <button mat-raised-button (click)="fecharPopup()" color="primary" > 
            Cancelar
        </button> -->
</mat-card>