<div>
    <h1 style="text-align: center;">Busca de agendas disponíveis.</h1>
    
    <mat-card>
        <table mat-table [dataSource]="dadosAgendamentos">

            <ng-container matColumnDef="Id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.Id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Nome">
                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.Nome}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Codigo">
                <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.Codigo}}</mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="Data">
                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.Data | date: 'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Hora">
                <mat-header-cell *matHeaderCellDef>Data Hora</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.Hora }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="ColunasCatalogo"></mat-header-row>
            <mat-row class="cursor" [class.demo-row-is-clicked]=""
                *matRowDef="let row; columns: ColunasCatalogo;"
                (click)="LinhaCatalogoSelecionada(row)"
                [ngClass]="{'corLinhaGrid' : row.id == linhaSelecionada}">
            </mat-row>
        </table>
    </mat-card>
       
    <div style="display: flex;">
        <div *ngFor="let agenda of agendasDisponiveis">
            <div style="padding: 10px;">
                <mat-card class="card">
                    <mat-card-title>{{agenda.nome}}</mat-card-title>
                    <mat-card-subtitle>{{agenda.agendaDisponivel.nomeAgenda}}</mat-card-subtitle>
                    <mat-card-content>
                        <div class="mat-elevation-z4"
                            style="height: 250px; width: -webkit-fill-available; overflow: auto;">
                            <table mat-table [dataSource]="agenda.agendaDisponivel.horariosDisponiveis">

                                <ng-container matColumnDef="data">
                                    <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.data | date:'dd-MM-yy'}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="hora">
                                    <mat-header-cell *matHeaderCellDef>H.Disp</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.hora}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="diaDasemana">
                                    <mat-header-cell *matHeaderCellDef>D.Semana</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{
                                        row.diaDasemana === 1 ? 'Dom'
                                        : row.diaDasemana === 2 ? 'Segunda'
                                        : row.diaDasemana === 3 ? 'Terça'
                                        : row.diaDasemana === 4 ? 'Quarta'
                                        : row.diaDasemana === 5 ? 'Quinta'
                                        : row.diaDasemana === 6 ? 'Sexta'
                                        : row.diaDasemana === 7 ? 'Sábado'
                                        : ''}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="ColunasHorDisponiveis"></mat-header-row>
                                <mat-row class="cursor" [class.demo-row-is-clicked]=""
                                    *matRowDef="let row; columns: ColunasHorDisponiveis;"
                                    (click)="LinhaSelecionada(row, agenda.codigo + agenda.agendaDisponivel.id, agenda.id, agenda.agendaDisponivel.id, agenda.agendaCatalogoId)"
                                    [ngClass]="{'corLinhaGrid' : row.id == BuscarLInhaSelecionada(row, agenda.codigo + agenda.agendaDisponivel.id )}">
                                </mat-row>
                            </table>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div *ngIf="agendasDisponiveis.length === 0" class="naopossuidados">Não existem agendas disponíveis para esses serviços!
</div>

<div style="padding-right: 50px;" class="rodape">
    <button *ngIf="dadosAgendamentos.length > 0" class="button" mat-raised-button color="primary"
        (click)="fecharPopup(true)">
        Selecionar
    </button>
    <button class="button" mat-raised-button color="primary" (click)="fecharPopup(false)">
        Cancelar
    </button>
</div>