<mat-card>
    <mat-card-title>Habilitar - Produto Empresa</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Produto">
                <p></p>
                <mat-select [(value)]="produtoEmpresa.produtoid" placeholder="ProdutoId" >
                    <mat-option *ngFor="let prod of comboProduto" [value]="prod.Id">
                         {{prod.Nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field>
                <input matInput placeholder="Empresa">
                <p></p>
                <mat-select [(value)]="produtoEmpresa.empresaid" placeholder="EmpresaID" >
                    <mat-option *ngFor="let comboEmpresa of empresa" [value]="comboEmpresa.id">
                            {{comboEmpresa.nomeFantasia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field>
                <input matInput placeholder="Preço R$"
                [(ngModel)]="produtoEmpresa.valor" name="valor">

            </mat-form-field>
            
        </form>

        <!-- <button mat-raised-button (click)="associarProdutoEmpresa()" color="primary" > 
            Salvar
        </button>
        
        <button mat-raised-button (click)="fecharPopup()" color="primary" > 
            Cancelar
        </button> -->
</mat-card>

