<mat-card>
    <mat-card-title>{{solucao.id > 0 ? 'Editar Solução' : 'Nova Solução'}}</mat-card-title>
    <form>

        <mat-form-field appearance="outline">
            <mat-label>Solução</mat-label>
            <input matInput placeholder="Nome da Solução" id="nome" [(ngModel)]="solucao.nome" name="nome">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Rota</mat-label>
            <input matInput placeholder="Rota da Solução" id="rota" [(ngModel)]="solucao.rota" name="rota">
        </mat-form-field>

        <mat-form-field *ngIf="solucao.id > 0" appearance="outline">
            <mat-label>Status</mat-label>
            <input matInput placeholder="Status">
            <input name="ativo" [(ngModel)]="solucao.ativo" [checked]="solucao.ativo" type="checkbox">
        </mat-form-field>

    </form>

    <button *ngIf="solucao.nome && solucao.rota" mat-raised-button (click)="Salvar()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="FecharPopup()" color="primary">
        Sair
    </button>

</mat-card>