<mat-card>
    <h1>{{produto.id === 0 ? 'Novo Cadastro' : 'Editar Cadastro' }} </h1>

    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="produto.nome" name="nome">
        </mat-form-field>
       
        <mat-form-field>
            <input matInput placeholder="Código Barras" [(ngModel)]="produto.codigoBarras" name="cBarras">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Qr Code" [(ngModel)]="produto.qrCode" name="qrcode">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Código" [(ngModel)]="produto.codigo" name="codigo">
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="Estoque" [(ngModel)]="produto.qtdEstoque" name="estoque">
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="produto.tipoCatalogo" placeholder="Selecione a Solução">
                <mat-option *ngFor="let se of solucoesEmpresa" [value]="se.id">
                    {{se.solucaoNome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Peso do produto Formato 1.21 (Kg) ou 0.50 (g) Ponto(.) ou Virgula(,)" [(ngModel)]="produto.peso" name="Peso">
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="Margem de lucro Formato 10.5 (%) Ponto(.) ou Virgula(,)" (keypress)="CalcularValorVenda($event)" [(ngModel)]="produto.margem" name="Margem">
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="Valor compra Formato 10.51 Ponto(.) ou Virgula(,)" (keypress)="CalcularValorVenda($event)" [(ngModel)]="produto.valorCompra" name="valorCompra">
        </mat-form-field>

        <mat-form-field>
            <input [disabled]="true"  type="number" matInput placeholder="Valor Venda Calculado automatico valor de compra  + % Margem" [(ngModel)]="produto.valor" name="ValorVenda">
        </mat-form-field>

        <mat-form-field *ngIf="produto.id > 0">
            <input matInput placeholder="excluido">
                <input name="excluido" [(ngModel)]="produto.excluido" [checked]="produto.excluido" type="checkbox">
        </mat-form-field>

    </form>
    <button *ngIf="produto.nome && produto.codigo && produto.tipoCatalogo > 0 " mat-raised-button
        (click)="CadastrarProduto()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="fecharPopup()" color="primary">
        Voltar
    </button>

</mat-card>