<mat-card>
    <h1>{{produto.id > 0 ? 'Novo Cadastro' : 'Editar Cadastro' }} </h1>

    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="produto.nome" name="nome">
        </mat-form-field>
       
        <mat-form-field>
            <input matInput placeholder="Código Barras" [(ngModel)]="produto.codigoBarras" name="cBarras">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Qr Code" [(ngModel)]="produto.qrCode" name="qrcode">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Código" [(ngModel)]="produto.codigo" name="codigo">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Estoque" [(ngModel)]="produto.qtdEstoque" name="estoque">
        </mat-form-field>

       

        <mat-form-field>
            <mat-select [(value)]="produto.tipoCatalogo" placeholder="Selecione o produto">
                <mat-option *ngFor="let pr of tipoProduto" [value]="pr.id">
                    {{pr.tipo}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Peso" [(ngModel)]="produto.peso" name="Peso">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Margem" [(ngModel)]="produto.margem" name="Margem">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Valor Compra" [(ngModel)]="produto.valorCompra" name="valorCompra">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Valor Venda" [(ngModel)]="produto.valor" name="ValorVenda">
        </mat-form-field>

        <ng-container matColumnDef="excluido">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="row.excluido">
                    <i class="material-icons">
                        lock
                    </i>
                </div>
                <div *ngIf="!row.excluido">
                    <i class="material-icons">
                        lock_open
                    </i>
                </div>
            </mat-cell>
        </ng-container>


    </form>
    <button *ngIf="produto.nome && produto.codigo && produto.qtdEstoque && produto.tipoCatalogo > 0 " mat-raised-button
        (click)="CadastrarProduto()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="fecharPopup()" color="primary">
        Voltar
    </button>


</mat-card>