/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.red {
    color: rgb(227, 94, 107);

}

.v-middle{

    vertical-align: middle;
}

.msg-sucess{

    background-color: #27a745;
    color: #fff;
}

.msg-error{

    background-color: #e36e6b;
    color: #fff;
}

/*CSS da Aplicação */

.botaoBusca { 
    float : right;
    font-size: 15px;
    width: 150px;
    margin-top: 10px;
    padding-left: 15px;
}

.botaoBuscaPopups { /*popups*/
    font-size: 25px;
    width: 155px;
    margin-top: 10px;
    padding-left: 15px;
}

.rodape{  /*Usar nos rodapés dos popups Botões*/
    position:absolute;
	bottom:0;
	width:100%;
}


button{
    margin : 20px 15px 0 0;
    padding-left: 20px;
}

.formularioRow {
    display: flexbox;
    flex-direction: row;
    font-size: 12px;
}

.mat-form-field-infix{
    width: auto;
}

mat-form-field{
    padding-left: 10px;
    
}

/*Cabeçalho das tabelas*/
table{
    width: 100%;
}