/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.red {
    color: rgb(227, 94, 107);

}

.v-middle{

    vertical-align: middle;
}

.msg-sucess{

    background-color: #27a745;
    color: #fff;
}

.msg-error{

    background-color: #e36e6b;
    color: #fff;
}

/*CSS da Aplicação */

.textBusca {
    float: right;
    margin-top: 15px;
}


.botaoBusca { 
    float : right;
    font-size: 15px;
    width: 150px;
    margin-top: 10px;
    padding-left: 15px;
}

.botaoBuscaPopups { /*popups*/
    font-size: 25px;
    margin-top: 12px;
    padding-left: 15px;
}

.rodape{  /*Usar nos rodapés dos popups Botões*/
   float: right;
}

.rodape .button {
    margin-top: 15px;
    margin-left : 15px;
}

.formularioRow {
    display: flexbox;
    flex-direction: row;
    font-size: 12px;
}

.mat-form-field-infix{
    width: auto;
}

mat-form-field{
    padding-left: 9px;
}

mat-form-field mat-label{
    font-size: 12px;
}

mat-form-field mat-label input{
    font-size: 12px;
}


/*Ajuste de todos os MatFormField

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-23px;font-size: 16px;}
::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }
*/


/*Cabeçalho das tabelas icone pra fechar os Popups*/
table{
    width: 100%;
}

.close{
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.corLinhaGrid {
    background: aqua;
  }
