<div class="container">

    <mat-card>
        <mat-card-title>Atualizar Agenda</mat-card-title>
            <form>

                <mat-form-field>
                    <input matInput placeholder="Nome Agenda" 
                     [(ngModel)]="agenda.nomeAgenda" name="nomeAgenda">
                </mat-form-field>

                
                <mat-form-field>
                        <input matInput placeholder="Profissional" >
                        <p></p>
                    <mat-select 
                           [(value)]="agenda.profissionalid" placeholder="Unidade Atendimento">
                         <mat-option *ngFor="let ret of comboProfissional " [value]="ret.id">
                               {{ret.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Unidade Atendimento">
                    <p></p>
                    <mat-select [(value)]="agenda.unidadeid" placeholder="Unidade Atendimento" >
                        <mat-option *ngFor="let tipounidade of comboUnidade " [value]="tipounidade.id">
                            {{tipounidade.nomeUnidade}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Sala Atendimento">
                    <p></p>
                    <mat-select [(value)]="agenda.salaid" placeholder="Sala Atendimento" >
                        <mat-option *ngFor="let tipoSala of comboSala " [value]="tipoSala.id">
                            {{tipoSala.nomeSala}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field>
                    <input matInput placeholder="Substituição">
                        <input name="substituicao" [(ngModel)]="agenda.substituicao" [checked]="agenda.substituicao" type="checkbox">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Grupo Agenda">
                    <p></p>
                    <mat-select [(value)]="agenda.grupoAgendaid" placeholder="Grupo Agenda" >
                        <mat-option *ngFor="let tipoGrupo of comboTipoGrupoAgenda " [value]="tipoGrupo.id">
                            {{tipoGrupo.nomeGrupoAgenda}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Vigência Início"
                     [(ngModel)]= "agenda.vigenciaInicio" name="vigenciaInicio" type="datetime-local" teste >
                </mat-form-field>

    
                <mat-form-field>
                    <input matInput placeholder="Vigência Fim" 
                     [(ngModel)]="agenda.vigenciaFim" name="vigenciaFim" type="datetime-local">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Considera Feriado">
                        <input name="considerarFeriado" [(ngModel)]="agenda.considerarFeriado" [checked]="agenda.considerarFeriado" type="checkbox">
                </mat-form-field>


                <mat-form-field>
                    <input matInput placeholder="bloqueado">
                        <input name="bloqueado" [(ngModel)]="agenda.bloqueado" [checked]="agenda.bloqueado" type="checkbox">
                </mat-form-field>


            </form>
    
            <button *ngIf="agenda.nomeAgenda && agenda.vigenciaInicio && agenda.vigenciaFim"  mat-raised-button (click)="UpdateAgenda()"  color="primary" > 
                Salvar
            </button>
            
            <button mat-raised-button (click)="fecharPopup()" color="primary" > 
                Cancelar
            </button>
    </mat-card>

</div>