<h1>Produtos</h1>

<div>
    <input class="search" name="busca" id="busca" type="text" value="">
  
    <span (click)="BuscarProdutos()">
      <i class="material-icons">search</i>
    </span>
  </div>
  
  <div class="footer">
    <span (click)="CadastrarProduto()">
      <i class="material-icons">person_add</i>
    </span>
  </div>

<div class="mat-elevation-z4">
    <table mat-table [dataSource]="produtosEmpresa">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="codigoBarras">
            <mat-header-cell *matHeaderCellDef>Cód Barras</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.codigoBarras}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="qrCode">
            <mat-header-cell *matHeaderCellDef>Qr Code</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.qrCode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.codigo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="qtdEstoque">
            <mat-header-cell *matHeaderCellDef>Qtd Estoque</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.qtdEstoque}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipoCatalogo">
            <mat-header-cell *matHeaderCellDef>Grupo Produto</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.tipoCatalogo === 1 ? 'Agenda' : row.tipoCatalogo === 2 ? 'Pdv' : row.tipoCatalogo === 3 ? 'Ambos' : 'Outros' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="peso">
            <mat-header-cell *matHeaderCellDef>Peso</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.peso | number: '1.1-5' :'pt'}} {{ row.peso > 1 ?  '(kg)' : '(g)' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="valorCompra">
            <mat-header-cell *matHeaderCellDef>Val Compra</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.valorCompra | currency : 'BRL' : true }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="margem">
            <mat-header-cell *matHeaderCellDef>Margem Lucro</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.margem | number: '1.1-2' :'pt'}} %</mat-cell>
        </ng-container>

        <ng-container matColumnDef="valor">
            <mat-header-cell *matHeaderCellDef>Valor Venda</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.valor | currency : 'BRL' : true}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="excluido">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="row.excluido">
                    <i class="material-icons">
                        lock
                    </i>
                </div>
                <div *ngIf="!row.excluido">
                    <i class="material-icons">
                        lock_open
                    </i>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>

            <mat-cell *matCellDef="let row">

                <a (click)="EditarProduto(row.id)">
                    <i class="material-icons edit cursor">
                        edit
                    </i>
                </a>

                <a (click)="ExcluirProduto(row.id)">
                    <i matTooltip="Usuários" class="material-icons delete cursor ">
                        delete
                    </i>
                </a>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'corLinhaGrid' : row.id == idSelecionado}"
            (click)="selecionaLinha(row.id)"></mat-row>
    </table>
</div>